@use './input';
@use './button';
@use './typofography';
@import './navigation.scss';

// Modify 
$primary: #f8b300;
$font-family-sans-serif:'Noto Sans', Helvetica Neue, sans-serif;
$border-color: #e0e0e0;
$border-radius: 5px;
$navbar-dark-toggler-border-color:  $primary;
$navbar-light-toggler-icon-bg: url("http://localhost:3000/icons/menu.svg");
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Custom 
.as_hvr_bg_primary {
  &:hover {
    color: #252525 !important;
    background: #f8b300 !important;
    border: 1px solid #252525 !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
  }
  
}

// Footer 
footer {
  color: #fff;
  background-color: #252525;
  .as_footer_wgt {
    h3 {
      color: #fff;
    }
    p, a {
      font-size: 14px;
      color: rgba(255,255,255,.7);
    }
    a {
      &:hover {
        color: #ffc107;
      }
    }
  }
}


/**
 * Register Page
 * Login Page 
 * Order Tracking Page
 */ 
.am_page_login, .am_page_register, .am_page_track-order{
  .am_register, .am_login, .am_track-order {
    .card {
      border: 0 !important;
      .card-body {
        padding: 50px !important;
        background: #f8f8f8 !important;
      }
    }
    .am_register-left, .am_login-left, .am_track-left {
      height: 100%;
      padding: 50px;
      background: #f8f8f8;
    }
    .am_register-right, .am_login-right, .am_track-right {
      height: 100%;
    }
  }
}


.as_page {
  min-height: calc(100vh - 58px);
  height: auto;
}
@media screen and (min-width: 1024px) {
  .as_page {
    min-height: calc(100vh - 420px);
    height: auto;
  }
}



// Home Page 
.as_home_top_cat {
  .as_cat_cart {
    background: #F9F9F9;
  }
}

// Dashboard
.dashboard {
  background: #fafafa;
}

.am_dashboard_sidebar {
  background: transparent; 
  .list-group-item {
    padding-top: 4px;
    padding-left: 0;
    background: transparent;
    border: none;
  }
}

